.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
}

.sidebar__navegation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.logo img {
  width: 80px;
}

.sidebar__navegation .logo {
  background-color: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px  0 0 16px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  font-family: 'Geologica', sans-serif;
}


.library {
  font-family: 'Geologica', sans-serif;
  font-weight: 700;

  background-color: #121212;
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.library .library__content {
  padding: 16px 0 0 16px;
  display: flex;
  justify-content: space-between;
}

.library .library__button {
  font-family: 'Geologica', sans-serif;
  font-weight: 700;

  text-decoration: none;
  text-align: center;
  text-transform: none;

  background-color: transparent;
  color: #b3b3b3;
  font-size: 1rem;

  display: flex;
  align-items: center;
  gap: 10px;
}

.library__button .fa {
  font-size: 17px;
}

.library .library__content .fa-plus {
  color: #b3b3b3;
  font-weight: 700;
  font-size: 20px;
}
